@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
::-webkit-scrollbar-track { background-color: #d6d6d6; }

::-webkit-scrollbar { width: 10px; background-color: #d6d6d6; }

::-webkit-scrollbar-thumb { background-color: #999; }

h1, h2, h3, h4, h5, h6 { text-shadow: none; font-weight: normal; }

.wrapLoader { position: fixed; top: 0; left: 0; right: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: none; }
.wrapLoader img { width: 50px; height: 50px; position: absolute; top: 50%; margin-top: -25px; left: 50%; margin-left: -25px; }
.wrapLoader .imgLoader { z-index: 9; }

.icon-menu-category { display: none; cursor: pointer; }

.main .container .row .col-md-2, .main .container .row .col-md-7.middle-col, .main .container .row .col-md-3 { padding: 0 5px; }
.main .container .row .col-md-2 { position: fixed; z-index: 9; background-color: #eee; padding: 0; overflow-y: auto; overflow-x: hidden; left: 0; }
.main .container .row .col-md-7.middle-col { margin-left: 295px; padding: 0 15px 0 30px; border: none; height: auto !important; }

.sidebar { position: relative; }

.show-sidebar .close-menu-list { display: block; }

.close-menu-list { display: none; position: absolute; top: 3px; right: 3px; color: #fff; cursor: pointer; width: 40px; height: 40px; border: 1px solid #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; z-index: 9999; text-align: center; }
.close-menu-list i { line-height: 40px; font-size: 20px; }
.close-menu-list:hover, .close-menu-list:focus { color: #fb9f45; background-color: #fff; }

ul.nav-list.primary > li a { background: none; position: relative; }
ul.nav-list.primary > li a:before { content: "\f18e"; position: absolute; left: 0; top: 10px; font: normal normal normal 14px/1 FontAwesome; color: #8a8f97; }

.mini-logo { display: none; }

.composs-author-block { display: block; margin: 30px 0; padding: 30px 0; border-top: 2px solid #f2f2f2; border-bottom: 2px solid #f2f2f2; }
.composs-author-block .item-header { display: block; float: left; width: 80px; overflow: hidden; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; height: 80px; }
.composs-author-block .item-header img { width: 100%; }
.composs-author-block .item-content { display: block; margin-left: 115px; }
.composs-author-block .item-content strong { display: block; margin-bottom: 14px; color: #232323; font-size: 20px; line-height: 100%; }
.composs-author-block .item-content p { display: block; margin-bottom: 15px; font-size: 14px; }
.composs-author-block .item-content .composs-button { display: inline-block; line-height: 120%; color: #aaa; padding: 10px 14px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; margin-right: 8px; font-size: 14px; border: 1px solid #aaa; }
.composs-author-block .item-content .composs-button.composs-button-green { color: #5cb71a; border-color: #5cb71a; }
.composs-author-block .item-content .composs-button i { padding-right: 8px; }
.composs-author-block .item-content .composs-button.composs-button-orange { color: #f08722; border-color: #f08722; }

.banner .slide { position: relative; min-height: 200px; }
.banner .slide:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); }
.banner .item .main-slide { position: relative; }
.banner .item .main-slide img { width: 100%; }
.banner .item .main-slide .content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 0; }
.banner .item .main-slide .content .txt-banner { margin: auto; text-align: center; color: #fff; }
.banner .item .main-slide .content .txt-banner a { color: #fff; font-weight: normal; display: inline-block; margin: 0; padding: 0; }
.banner .item .main-slide .content .txt-banner a img { height: 46px; width: auto; }
.banner .item .main-slide .content .txt-banner .clearfix { display: inline-block; }
.banner .item .main-slide .content .txt-banner .clearfix p { margin-right: 10px; }
.banner .item .main-slide .content .txt-banner .youtube { margin-top: 20px; }
.banner .item .main-slide .content h2 { position: relative; margin: 0 !important; font-size: 45px; font-weight: 700; color: #fff; text-transform: uppercase; padding: 5px 0; }
.banner .item .main-slide .content h2:before { content: ""; position: absolute; top: 100%; left: 0; width: 100%; height: 3px; background-color: #fff; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); transition: 200ms ease all; }
.banner .item .main-slide .content p { font-size: 22px; margin: 0; color: #fff; text-transform: uppercase; line-height: 1.3; padding: 15px 0 0 0; display: inline-block; }
.banner .item.active .main-slide .content h2:before { webkit-animation: 1000ms cubic-bezier(0.7, 0, 0.3, 1) 150ms normal forwards 1 running borderScaleIn; animation: 1000ms cubic-bezier(0.7, 0, 0.3, 1) 150ms normal forwards 1 running borderScaleIn; }
.banner .glyphicon-chevron-right:before, .banner .glyphicon-chevron-left:before { display: none; }
.banner .carousel-control { background: none !important; opacity: 1; width: 7%; }
.banner .carousel-control:hover { color: #faca14; text-shadow: none; }
.banner .carousel-indicators { bottom: 0; }

.box-tab-menu { margin-top: 20px; }
.box-tab-menu .txt-title { color: #333; font-weight: 700; font-size: 18px; margin: 30px 0 0 0; text-transform: uppercase; line-height: 30px; }
.box-tab-menu .txt-title-1 { color: #333; font-weight: 500; font-size: 18px; margin: 0; padding: 0 25px; line-height: 70px; text-transform: none; }
.box-tab-menu .txt-title-2 { color: #333; font-weight: 500; font-size: 18px; margin: 0 0 10px 0; }
.box-tab-menu .row { margin-left: -15px; margin-right: -15px; }
.box-tab-menu .border { border: 1px solid #e1e1e1; padding: 25px 25px 5px 25px; display: none; max-height: 350px; overflow-y: auto; }
.box-tab-menu .border::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); background-color: #F5F5F5; }
.box-tab-menu .border::-webkit-scrollbar { width: 8px; background-color: #F5F5F5; }
.box-tab-menu .border::-webkit-scrollbar-thumb { background-color: #666666; }
.box-tab-menu .border .row .col-xs-2 { width: 20%; }
.box-tab-menu .border ul li a { color: #333; padding: 10px 0; display: inline-block; line-height: 1.4; font-size: 14px; }
.box-tab-menu .border ul li a:hover { color: #ffa81e; }
.box-tab-menu .btn-yellow { margin: 40px 0 100px 0; }

.hide-tab.primary-school .top .pull-right { line-height: 70px; margin-top: 0; }
.hide-tab .top { cursor: pointer; }
.hide-tab .top .pull-right { line-height: 30px; margin-top: 30px; color: #666; position: relative; }
.hide-tab .top .pull-right i { width: 30px; height: 30px; font-size: 25px; text-align: right; line-height: 30px; cursor: pointer; }
.hide-tab .top .pull-right i:hover { color: #ffa81e; }

.btn-yellow { line-height: 50px; padding: 0 55px; font-size: 24px; color: #fff; font-weight: 700; border: 2px solid #ffa81e; background-color: #ffa81e; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }
.btn-yellow:hover { background-color: #fff; color: #ffa81e; }

.show-hide-tab.box-primary-school .box-school { display: block; }
.show-hide-tab.box-primary-school .top-1 .fa-angle-down:before { content: "\f106"; }
.show-hide-tab.primary-school .border { display: block; }
.show-hide-tab.primary-school .top-2 { border-bottom: none; }
.show-hide-tab.primary-school .top-2 .fa-angle-down:before { content: "\f106"; }

.top-2 { border-bottom: 1px solid #e1e1e1; }

.hide-tab .top-2 .pull-right i { position: relative; top: 20px; }

.box-school { display: none; }

.main-page { margin-top: 0; }
.main-page .clearfix { display: inherit; }
.main-page .row { margin-left: -15px; margin-right: -15px; }
.main-page h1, .main-page h2, .main-page h3, .main-page h4, .main-page h5, .main-page h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body .container { width: 100%; padding: 0 5px; }
body .main .container { padding-right: 15px; }

.logo-mobile { display: none; }

.main-content { max-width: 1170px; padding-left: 15px; padding-right: 15px; margin: 0 auto; }

.box-customer { margin: 60px 0 0 0; }
.box-customer .box-title .txt-title { text-transform: uppercase; margin: 0 0 10px 0; color: #333; font-size: 24px; line-height: 1.3; }
.box-customer .box-title .txt { margin: 0 0 40px 0; line-height: 1.4; font-size: 14px; color: #333; }
.box-customer .name { font-size: 16px; color: #333; text-transform: uppercase; margin: 0; line-height: 1.4; font-weight: 400; }
.box-customer .img { display: block; width: 136px; height: 136px; border-radius: 50%; float: left; margin-bottom: 20px; overflow: hidden; }
.box-customer p { clear: both; margin: 15px 0 40px 0; line-height: 1.6; }
.box-customer .content { margin: 0; padding: 0; overflow: hidden; padding-left: 20px; }
.box-customer .content .txt-1 { color: #ffc845; margin: 10px 0 5px; }
.box-customer .content .name { margin-top: 20px; }

.box-provided { padding-top: 20px; padding-bottom: 80px; }
.box-provided .row p { height: 48px; }
.box-provided .main-provided { padding-top: 10px; }
.box-provided .main-provided h3 { font-size: 17px; color: #333; }
.box-provided .main-provided p { margin-bottom: 50px; color: #333; }
.box-provided .content-boxes-v5 span { background-color: #33333382; }
.box-provided .content-boxes-v5 span i { line-height: 50px; font-size: 24px; }
.box-provided .content-boxes-v5:hover span { background-color: #ffa81e; }

.carousel-indicators li { -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; border-radius: 10px; border-radius: 10px !important; }

.banner-1 { background-image: url("../../git/images/bg-1.jpg"); background-size: cover; background-repeat: repeat-y; padding: 10px 0 30px 0; margin: 0 0 4px 0; color: #fff; margin-top: 50px; }
.banner-1 h2 { font-size: 36px; padding: 15px 0 5px 0; margin: 0 !important; font-weight: bold; text-shadow: none; color: #fff; line-height: 1.3; }
.banner-1 img { width: 37px; height: 10px; position: relative; top: -2px; }
.banner-1 p { font-size: 16px; padding: 10px 0 15px 0; margin: 0; line-height: 25px; color: #fff; }
.banner-1 p a { color: #fff; }
.banner-1 .btn { font-size: 90%; color: #333; background-color: #fff; border-color: #ccc; padding: 3px 12px 3px 7px; margin-bottom: 10px; font-weight: normal; line-height: 1.42857143; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }
.banner-1 .btn:hover, .banner-1 .btn:focus { color: #333; background-color: #e6e6e6; border-color: #adadad; }

.go_top { position: fixed; bottom: 50px; right: 50px; color: #faca14; font-size: 12px; padding-right: 45px; z-index: 101; opacity: 0; }
.go_top i { width: 30px; height: 30px; line-height: 40px; text-align: center; border: 1px solid #faca14; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; font-size: 26px; position: absolute; right: 0; top: -10px; }
.go_top.go_tops { opacity: 1; }

.title-1 { color: #20438b; font-size: 20px; font-weight: 700; text-transform: uppercase; margin: 20px 0 35px 0; }

.btn-default { color: #000; font-size: 16px; line-height: 44px; padding: 0 18px; border: 1px solid #faca14; background-color: #faca14; display: inline-block; }
.btn-default:hover, .btn-default:focus, .btn-default.active { background-color: #fff; color: #faca14; border: 1px solid #faca14; }

.main .container > .row { margin: 0 !important; }

.main .container .row .col-md-2 { width: 300px !important; overflow-y: auto; }

#rightbar { overflow: hidden; width: 310px !important; position: static; }

a.scroll-to-top#scrollToTop { width: 40px; height: 40px; line-height: 40px; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; padding: 0; right: 10px; }
a.scroll-to-top#scrollToTop i { line-height: 34px; font-size: 16px; }

.content ul li a { font-size: 14px; }

.clearfix { display: block; clear: both; overflow: hidden; }

.box-youtube { margin-left: 10px; }

.sidebar ul.nav-list.primary.left-menu { background-color: #f7f7f7; padding: 5px 0 15px; }
.sidebar ul.nav-list.primary.left-menu li { position: relative; color: #212121; }
.sidebar ul.nav-list.primary.left-menu li.heading { color: #111; border: none; border-top: 1px solid #cfd8dc; background: transparent; font-size: 18px; line-height: 22px; padding: 8px 22px 12px !important; }
.sidebar ul.nav-list.primary.left-menu li.doing { padding: 8px 22px; }
.sidebar ul.nav-list.primary.left-menu li:first-child { border-top: none; }
.sidebar ul.nav-list.primary.left-menu li a { color: #212121; font-size: 13px; background: none; border: none; padding: 8px 22px; display: block; line-height: 1.4; }
.sidebar ul.nav-list.primary.left-menu li a:hover, .sidebar ul.nav-list.primary.left-menu li a:focus, .sidebar ul.nav-list.primary.left-menu li a.active { color: #fff; background: #ffa500; }
.sidebar ul.nav-list.primary > li a:before { display: none; }

.content ul li a, div.content p { font-size: 15px; display: block; }

.box-app { display: none; }

.main { margin: 0; }

.content { padding-bottom: 30px; }
.content h1 { color: #111; margin: 0; padding: 25px 0; font-size: 26px; text-shadow: none; text-align: left !important; line-height: 32px; }
.content h2 { color: #222; font-size: 22px; text-shadow: none; text-align: left; line-height: 28px; }
.content ul li a { font-size: 14px; }

body { position: relative; margin: 0; padding: 0 !important; background-color: #fff; color: #313131; font-family: "Open Sans", Arial, sans-serif; font-size: 14px; line-height: 1.3; }

a { color: #111; text-decoration: none; transition: color 0.3s ease-in-out; -ms-transition: color 0.3s ease-in-out; -webkit-transition: color 0.3s ease-in-out; -moz-transition: color 0.3s ease-in-out; }
a:hover, a:focus { color: #416fb7; outline: none; text-decoration: none; }

ul { margin: 0; padding: 0; }
ul li { list-style: none; }

body img { max-width: 100%; }

header { position: relative; z-index: 999; }
header .navbar-default { background-color: transparent; border: none; margin: 0; min-height: inherit; }
header.fix-header .top-header { display: none; }
header.fix-header .header { position: fixed; top: 0; left: 0; right: 0; z-index: 9999; }
header .clearfix { display: inherit; }
header .header { background-color: #fff; border-bottom: 1px solid #dfdfdf; }
header .header .container-fluid, header .header .navbar-collapse { padding: 0; display: flex !important; justify-content: center; }
header .container { background-color: transparent !important; }
header .top-header { padding: 0 20px; background-color: #fff; }
header .top-header .logo { margin-top: 5px; display: block; }
header .top-header .logo img { width: auto !important; height: auto !important; }
header .top-header .top-right-header .slogan p { color: #333; font-size: 18px; line-height: 52px; padding-right: 20px; margin: 0; text-transform: uppercase; font-weight: 400; }
header .top-header .top-right-header .box-share { margin-top: 12px; }
header .top-header .top-right-header .box-share li { margin-left: 10px; }
header .top-header .top-right-header .box-share li a:hover { opacity: .7; }
header .top-header .top-right-header .box-share li img { width: 28px; height: auto; }
header .header { background-color: #ffa81e; border-bottom: 1px solid #996512; position: relative; }
header .header .navbar-header { float: none; position: static; }
header .header .navbar-header .container-fluid { text-align: center; width: 100%; }
header .header .navbar-header .menu-mobile { text-align: center; display: inline-block; }
header .header .navbar-header .menu-mobile .navbar-nav { text-align: left; }
header .header .navbar-nav > li { position: static; }
header .header .navbar-nav > li > a { padding: 0 20px; height: 40px; line-height: 40px; font-weight: 500; color: #fff; font-size: 14px; text-transform: uppercase; display: block; }
header .header .navbar-nav > li > a:hover, header .header .navbar-nav > li > a.active { background: #996512; color: #fff; }
header .header .navbar-nav > li:first-child > a { display: flex; align-items: center; justify-content: center; }
header .header .navbar-nav > li.level-1:hover > a { background: #996512; }
header .header .menu-2 { position: absolute; top: 100%; left: 0; right: 0; background: #996512; box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.35); border: none; display: none; margin: 0; padding: 20px 0 10px; }
header .header .menu-2 li a { color: #fff0da; font-size: 14px; display: block; line-height: 34px; }
header .header .menu-2 li.main-content > ul { display: block; padding: 25px 0; overflow: hidden; }
header .header .menu-2 li.main-content > ul li:hover, header .header .menu-2 li.main-content > ul li:focus, header .header .menu-2 li.main-content > ul li.active { background-color: #ffa81e; }
header .header .menu-2 li.main-content > ul li:hover a, header .header .menu-2 li.main-content > ul li:focus a, header .header .menu-2 li.main-content > ul li.active a { color: #fff; }
header .header .menu-2 li.main-content.col-md-3 > ul { padding: 0 0 15px; }
header .header .menu-2 li.main-content.col-md-3 > ul li { width: 100% !important; float: none !important; }
header .header .menu-2 li .title, header .header .menu-2 li .subtitle { font-size: 15px !important; padding: 0 0 0 15px !important; color: #fff !important; font-weight: normal; text-transform: uppercase; }

.overflow { overflow: hidden; }

.more { color: #20438b; font-size: 15px; font-style: italic; }
.more i { color: #faca14; margin-right: 5px; }

.banner .item .main-slide { position: relative; }
.banner .item .main-slide img { width: 100%; }
.banner .item .main-slide:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); }
.banner .item .main-slide .content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.banner .item .main-slide .content .txt-banner { margin: auto; text-align: center; color: #fff; }
.banner .item .main-slide .content h2 { position: relative; margin: 0; font-size: 45px; font-weight: 700; color: #fff; text-transform: uppercase; padding: 5px 0; }
.banner .item .main-slide .content h2:before { content: ""; position: absolute; top: 100%; left: 0; width: 100%; height: 3px; background-color: #fff; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); transition: 200ms ease all; }
.banner .item .main-slide .content p { font-size: 22px; margin: 0; color: #fff; text-transform: uppercase; line-height: 1.3; padding: 15px 0 0 0; }
.banner .item.active .main-slide .content h2:before { webkit-animation: 1000ms cubic-bezier(0.7, 0, 0.3, 1) 150ms normal forwards 1 running borderScaleIn; animation: 1000ms cubic-bezier(0.7, 0, 0.3, 1) 150ms normal forwards 1 running borderScaleIn; }
.banner .glyphicon-chevron-right:before, .banner .glyphicon-chevron-left:before { display: none; }
.banner .carousel-control { background: none !important; opacity: 1; width: 7%; }
.banner .carousel-control:hover { color: #faca14; text-shadow: none; }
.banner .carousel-indicators { bottom: 0; }

.box-search { width: 300px; margin: 10px 0; padding-left: 20px; }
.box-search .form-inline { margin: 0; }
.box-search .form-group { position: relative; background-color: #fff; border: 1px solid #eee; height: 32px; overflow: hidden; margin-bottom: 0; }
.box-search .form-group input[type="search"] { position: absolute; top: 0; left: 0; width: 100%; }
.box-search .form-group .form-control { border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; padding: 0 50px 0 10px; line-height: 32px; height: 32px; box-shadow: none; }
.box-search .form-group .btn-search { position: absolute; top: 0; right: 0; height: 100%; width: 45px; background-color: #565656; color: #fff; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }
.box-search .form-group .btn-search:hover, .box-search .form-group .btn-search:focus, .box-search .form-group .btn-search.active { background-color: #333; }

.close-menu-list, .close-menu-menu { display: none; position: absolute; top: 3px; right: 15px; color: #fff; cursor: pointer; width: 40px; height: 40px; border: 1px solid #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; z-index: 9999; text-align: center; }
.close-menu-list i, .close-menu-menu i { line-height: 40px; font-size: 20px; }

.menu-mobile-sub { display: none !important; }

.social-icons li { float: left; width: 30px; height: 30px; margin: 0 2px; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; -webkit-transition: all .3s ease; transition: all .3s ease; }
.social-icons li a { display: block; }
.social-icons li a i { line-height: 30px; text-align: center; color: #333; background-color: #fff; width: 100%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; -webkit-transition: all .3s ease; transition: all .3s ease; }
.social-icons li.facebook:hover a i, .social-icons li.facebook:focus a i, .social-icons li.facebook.active a i { background-color: #3a5897; color: #fff; }
.social-icons li.twitter:hover a i, .social-icons li.twitter:focus a i, .social-icons li.twitter.active a i { background-color: #00bdec; color: #fff; }
.social-icons li.googleplus:hover a i, .social-icons li.googleplus:focus a i, .social-icons li.googleplus.active a i { background-color: #d94a3a; color: #fff; }
.social-icons li.linkedin:hover a i, .social-icons li.linkedin:focus a i, .social-icons li.linkedin.active a i { background-color: #1a92bd; color: #fff; }

.footer-v1 .social-icons-top { text-align: center; }
.footer-v1 .social-icons-top .social-icons { display: inline-block; overflow: hidden; clear: both; }
.footer-v1 .social-icons-top .social-icons li { text-indent: inherit; }
.footer-v1 .footer { padding: 40px 0 0 0; background: #272727; font-size: 15px; color: #fff; }
.footer-v1 .footer a { color: #fff; }
.footer-v1 .footer a:hover, .footer-v1 .footer a:focus, .footer-v1 .footer a.active { color: #faca14; }
.footer-v1 .footer .headline { margin: 0; border: none; }
.footer-v1 .footer .headline h2 { font-size: 20px; margin-bottom: 35px; color: #fff; }
.footer-v1 .row { margin-left: -15px; margin-right: -15px; }
.footer-v1 .row .col-xs-2 { margin: 5px 0; }
.footer-v1 .social-icons li { margin-bottom: 0; }
.footer-v1 .social-icons li a:hover { opacity: .7; }
.footer-v1 .copyright { background: #222; border-top: none; padding: 10px 0; margin-top: 10px; }
.footer-v1 .copyright p { float: left; line-height: 30px; margin-bottom: 0; }
.footer-v1 .copyright .txt-footer-1 { margin-left: 30px; }
.footer-v1 .copyright .txt-footer-1 a { font-weight: normal; }
.footer-v1 .text-justify { text-align: justify; margin-top: 10px; }
.footer-v1 .footer-logo { margin-bottom: 20px; }
.footer-v1 p { line-height: 1.4; }
.footer-v1 .app-download { padding-top: 15px; }
.footer-v1 .app-download a { padding-right: 6px; }
.footer-v1 .app-download img { height: 40px; width: auto; margin-bottom: 5px; }
.footer-v1 .address, .footer-v1 .phone, .footer-v1 .email { line-height: 20px; display: block; clear: both; overflow: hidden; }
.footer-v1 .address i, .footer-v1 .phone i, .footer-v1 .email i { line-height: 20px; padding-right: 20px; display: inline-block; }
.footer-v1 .address i.fa-map-marker, .footer-v1 .phone i.fa-map-marker, .footer-v1 .email i.fa-map-marker { font-size: 20px; }
.footer-v1 .address i.fa-mobile, .footer-v1 .phone i.fa-mobile, .footer-v1 .email i.fa-mobile { font-size: 23px; }
.footer-v1 .address i.fa-envelope, .footer-v1 .phone i.fa-envelope, .footer-v1 .email i.fa-envelope { padding-right: 15px; }
.footer-v1 .list-unstyled li { width: 100%; display: block; margin: 0 0 15px 0; }

hr { margin: 10px 0; }

ul.list { overflow: hidden; margin-bottom: 20px; }
ul.list li { background: none; padding: 0; margin-bottom: 7px; text-align: left; }
ul.list li a { display: inline-block; font-size: 15px; }
ul.list li a b { color: green; }
ul.list li a:hover { text-decoration: underline; }
ul.list li a.color-blue.italic { display: inline-block; margin-left: 10px; }
ul.list li p { margin: 0; padding: 0; }
ul.list.green li a { color: green; }
ul.list.blue li a { color: blue; }

.bottomgooglead .bottomadtag, .sub-list .bottomadtag { font-size: 22px; font-weight: normal; text-align: left; margin: 30px 0 10px; color: #111; }
.bottomgooglead ul li a, .sub-list ul li a { position: relative; padding-left: 15px; }
.bottomgooglead ul li a:before, .sub-list ul li a:before { content: ''; position: absolute; left: 0; top: 9px; width: 5px; height: 6px; background: #008000; }
.bottomgooglead ul li a:hover, .sub-list ul li a:hover { color: #008000; }

.sub-list li a { position: relative; padding-left: 15px; }
.sub-list li a:before { content: ''; position: absolute; left: 0; top: 9px; width: 5px; height: 6px; background: #008000; }
.sub-list li a:hover { color: #008000; }

.pre-btn, .nxt-btn, .paging-btn { margin: 0; padding: 0 0 10px; }
.pre-btn a, .pre-btn a:link, .pre-btn a:visited, .nxt-btn a, .nxt-btn a:link, .nxt-btn a:visited, .paging-btn a, .paging-btn a:link, .paging-btn a:visited { background: #008000; color: #fff; font-size: 14px; line-height: 34px; padding: 0 15px !important; border-radius: 0; display: inline-block; }
.pre-btn a:hover, .pre-btn a:link:hover, .pre-btn a:visited:hover, .nxt-btn a:hover, .nxt-btn a:link:hover, .nxt-btn a:visited:hover, .paging-btn a:hover, .paging-btn a:link:hover, .paging-btn a:visited:hover { background: #006f00; }
.pre-btn a .icon-arrow-circle-o-right, .pre-btn a:link .icon-arrow-circle-o-right, .pre-btn a:visited .icon-arrow-circle-o-right, .nxt-btn a .icon-arrow-circle-o-right, .nxt-btn a:link .icon-arrow-circle-o-right, .nxt-btn a:visited .icon-arrow-circle-o-right, .paging-btn a .icon-arrow-circle-o-right, .paging-btn a:link .icon-arrow-circle-o-right, .paging-btn a:visited .icon-arrow-circle-o-right { margin-left: 5px; }
.pre-btn a .icon-arrow-circle-o-right:before, .pre-btn a:link .icon-arrow-circle-o-right:before, .pre-btn a:visited .icon-arrow-circle-o-right:before, .nxt-btn a .icon-arrow-circle-o-right:before, .nxt-btn a:link .icon-arrow-circle-o-right:before, .nxt-btn a:visited .icon-arrow-circle-o-right:before, .paging-btn a .icon-arrow-circle-o-right:before, .paging-btn a:link .icon-arrow-circle-o-right:before, .paging-btn a:visited .icon-arrow-circle-o-right:before { content: ""; }
.pre-btn a .icon-arrow-circle-o-left, .pre-btn a:link .icon-arrow-circle-o-left, .pre-btn a:visited .icon-arrow-circle-o-left, .nxt-btn a .icon-arrow-circle-o-left, .nxt-btn a:link .icon-arrow-circle-o-left, .nxt-btn a:visited .icon-arrow-circle-o-left, .paging-btn a .icon-arrow-circle-o-left, .paging-btn a:link .icon-arrow-circle-o-left, .paging-btn a:visited .icon-arrow-circle-o-left { margin-right: 5px; }
.pre-btn a .icon-arrow-circle-o-left:before, .pre-btn a:link .icon-arrow-circle-o-left:before, .pre-btn a:visited .icon-arrow-circle-o-left:before, .nxt-btn a .icon-arrow-circle-o-left:before, .nxt-btn a:link .icon-arrow-circle-o-left:before, .nxt-btn a:visited .icon-arrow-circle-o-left:before, .paging-btn a .icon-arrow-circle-o-left:before, .paging-btn a:link .icon-arrow-circle-o-left:before, .paging-btn a:visited .icon-arrow-circle-o-left:before { content: ""; }

.social-btn { left: 20px; top: 7px; }
.social-btn > div { vertical-align: top; }

.fb-comments { margin-top: 10px; }

#rightbar { padding-top: 8px; }

.title, .subtitle { font-size: 26px; line-height: 32px; color: #111; margin: 0; padding: 25px 0; }

.subtitle { font-size: 22px; line-height: 28px; color: #111; margin: 0; padding: 20px 0; }

.paging { overflow: hidden; clear: both; border-bottom: 1px solid #d6d6d6; border-top: 1px solid #d6d6d6; padding: 10px 0; display: flex; align-content: center; margin: 15px 0; }
.paging a:last-child { margin-left: auto; }

.italic { font-style: italic; }

.color-blue { color: blue; }

.color-green { color: green; }

.color-orange { color: #fb9f3e; }

.color-red { color: red; }

.note { background: #fcf9dd; padding: 15px 20px; margin-bottom: 20px; line-height: 20px; border-left: 3px solid #efc075; }
.note p { padding: 0 0 15px !important; margin: 0 !important; font-size: 14px; }
.note p:last-child { padding-bottom: 0 !important; }

.vj-note { background: #f7f7f7; border-left: 3px solid #008000; padding: 20px 25px; font-size: 14px; margin-bottom: 25px; }
.vj-note a { color: #008000; padding: 0; }
.vj-note a:hover { color: blue; }
.vj-note h4 { margin: 0; padding: 0 0 5px; font-size: 18px; text-transform: none; }
.vj-note h4 a { color: #000; }
.vj-note h4 a:hover { color: #008000; }
.vj-note h4 svg { vertical-align: bottom; margin-left: 5px; }
.vj-note p { padding: 0 0 15px !important; margin: 0 !important; font-size: 14px; }
.vj-note p:last-child { padding-bottom: 0 !important; }
.vj-note .share-vj { margin-bottom: 12px; }
.vj-note .share-vj > div { vertical-align: middle !important; margin-right: 15px; }

.navbar-default .navbar-toggle { border: 1px solid #de8300; background: none !important; }
.navbar-default .navbar-toggle .icon-bar { background: #de8300; position: relative; }
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) { transform: rotate(45deg); top: 6px; }
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) { transform: rotate(-45deg); top: -6px; }
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) { background: transparent; }

iframe { max-width: 100% !important; }

.pdf-btn { display: none !important; }

section.toggle { margin: 5px 0 15px; }
section.toggle > label { border-left: none; background: #ddddff; border-radius: 3px; margin: 0; }
section.toggle > label * { color: #936927 !important; }
section.toggle > label:before { border-left-color: #6161e7 !important; }
section.toggle > label:hover { background: #c2c2f3; }
section.toggle.active > label { background: #c2c2f3; border-radius: 3px 3px 0 0; }
section.toggle .toggle-content { padding: 10px 20px; border: 1px solid #c2c2f3; border-top: none; border-radius: 0 0 3px 3px; }

.vj-tabs .nav-tabs li a { border-radius: 0; border-color: transparent; }
.vj-tabs .nav-tabs li a:hover { background: none; color: #008000; }
.vj-tabs .nav-tabs li.active a { border-color: transparent; border-bottom-color: #008000; box-shadow: 0 1px 0 #008000; border-radius: 0; font-weight: bold; color: #008000; }
.vj-tabs .tab-pane { padding: 20px 0; margin-bottom: 15px; }

.vj-more { margin-bottom: 15px; }
.vj-more ul li { position: relative; padding-left: 12px; margin-bottom: 3px; }
.vj-more ul li:before { content: ''; position: absolute; left: 0; top: 10px; width: 3px; height: 3px; background: #999; }
.vj-more ul li a { color: #416fb7; display: inline-block; }
.vj-more ul li a:hover { text-decoration: underline; }

.vj-panel-group { padding: 30px 0 10px; }
.vj-panel-group .txt-title { color: #111; }
.vj-panel-group .panel { border: none; border-radius: 0; box-shadow: none; }
.vj-panel-group .panel .panel-heading { background: none; padding: 0; }
.vj-panel-group .panel .panel-heading .panel-title { font-size: 20px; }
.vj-panel-group .panel .panel-heading .panel-title a { display: block; padding: 5px 28px 5px 0; position: relative; }
.vj-panel-group .panel .panel-heading .panel-title a i { position: absolute; right: 0; top: 5px; font-size: 25px; }
.vj-panel-group .panel .panel-heading .panel-title a.collapsed i:before { content: "\f107"; }
.vj-panel-group .panel .panel-body { padding: 0 0 15px; }
.vj-panel-group .panel .panel-body .txt-title-2 { margin: 20px 0 5px; color: #333; }

.wrapper-content, .container .content { position: relative; }

.ads_txt { display: none; }

.ads__top { text-align: center; background: #fff; }
.ads__top img { max-height: 80px; }

.right__box { background: #f7f7f7; border: 1px solid #d6d6d6; margin: 15px 0; }
.right__box h3 { margin: 0; padding: 5px 15px; background: #ffa81e; color: #fff; }
.right__box ul { margin: 0; padding: 10px 15px; }

.vj__list h3 { margin-top: 0; }

body img { max-width: 100%; }

aside ul.nav-list > li > a { font-size: 1em; line-height: 1.3; padding: 10px 17px; }

.main .container > .row { margin-left: -15px; margin-right: -15px; }

@media (min-width: 1360px) { .ads__stick.stick { position: fixed; top: 42px; right: 25px; }
  .ads__stick.stick_bottom { position: absolute; top: auto; bottom: 22px; right: 10px; } }
@media (min-width: 1200px) { .container { width: 1200px; } }
@media all and (min-width: 1025px) { .right-fixed { position: fixed; bottom: 10px; right: 20px; z-index: 99; }
  header .navbar-default .menu-mobile .navbar-nav li:hover .box-list { display: block; }
  .ads_ads { position: relative; }
  .ads_ads .ads_text_desktop { position: absolute; top: 15px; left: 50%; transform: translateX(-50%); z-index: 9; background: rgba(220, 220, 220, 0.7); padding: 0 5px; font-size: 12px; } }
@media (max-width: 767px) and (min-width: 481px) { header .header .navbar-header .menu-mobile .navbar-nav { padding-left: 20px; } }
@media (min-width: 769px) { header .header .navbar-nav > li:hover .menu-2 { display: block; } }
@media (max-width: 1187px) { header .top-header { padding: 0; }
  header .top-header .top-right-header .slogan p { font-size: 15px; padding-right: 10px; }
  header .top-header .top-right-header .box-share li { margin-left: 10px; }
  .box-search { width: 250px; padding-left: 20px; } }
@media (max-width: 980px) { header .top-header .top-right-header .slogan { display: none; }
  .ads_ads .ads_text_desktop { display: none; }
  .ads__top { display: none; } }
@media (max-width: 1034px) { #rightbar { display: none; } }
@media (max-width: 1024px) { .container { width: 100%; }
  .hide-tab .top .pull-right { margin-top: 15px; }
  header .header .navbar-nav > li > a { padding: 0 15px; }
  .box-tab-menu .txt-title { font-size: 16px; margin: 15px 0 0 0; }
  .box-tab-menu .txt-title-1 { font-size: 16px; line-height: 50px; }
  .box-tab-menu .txt-title-2 { font-size: 16px; }
  .hide-tab .top-2 .pull-right { line-height: 50px; }
  .hide-tab .top-2 .pull-right i { top: 10px; }
  .box-tab-menu .btn-yellow { line-height: 40px; padding: 0 35px; font-size: 20px; margin: 10px 0 50px 0; }
  .banner-1 h2 { font-size: 30px; }
  .box-customer { margin: 50px 0 0 0; }
  .box-customer .box-title .txt { margin: 0 0 20px 0; }
  .box-customer .name { font-size: 16px; }
  .box-customer .content .name { margin-top: 15px; }
  .box-provided { padding-bottom: 30px; }
  .box-provided .main-provided { padding-top: 20px; } }
@media all and (max-width: 768px) { header .header .navbar-header .menu-mobile { width: 100%; position: absolute; left: 0; top: 100%; display: none; }
  header .box-share { margin-right: 20px; }
  header .box-app { display: inline-block !important; margin-top: 10px; }
  header .box-app a { display: inline-block; }
  header .box-app a img { height: 32px; }
  #rightbar { width: 100% !important; margin-top: 30px; }
  header .header .menu-2 { display: none; }
  .mobile_ads { padding: 12px 0 12px 0; }
  .slogan { display: none; }
  header .header .navbar-nav > li, .navbar-nav, header .header .navbar-nav > li a { float: none; width: 100%; display: block; }
  header { height: auto !important; background-color: #fff; min-height: 50px; }
  header .container > .navbar-header { min-width: 100%; text-align: center; width: auto; overflow: visible; clear: both; margin: 0; }
  header .icon-menu-category { display: inline-block; border: 1px solid #ddd; width: 44px; height: 34px; text-align: center; padding: 0 !important; line-height: 34px; margin-left: 0; margin-top: 8px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; overflow: hidden; float: left; font-size: 21px; cursor: pointer; }
  header .icon-menu-category.active { color: #de7979; }
  header .icon-menu-category.active .fa-list-ul:before { content: "\f00d"; }
  header .top-header .pull-right, header .top-header .pull-left { float: none !important; }
  header .box-search { float: right !important; }
  header .top-right-header .pull-left { float: left !important; }
  header .header { background-color: #fff; }
  header .header .menu-mobile { background-color: #fff; display: none; position: relative; text-align: left; }
  header .header .menu-mobile > .navbar-nav > li a { color: #fff; font-size: 15px; }
  header .header .navbar-nav > li > a { line-height: 30px; text-transform: none; }
  header .header .menu-mobile > .navbar-nav > li:first-child { display: none; }
  header .logo-mobile { display: inline-block; margin: 0; padding: 0 !important; }
  header .logo-mobile img { height: 50px; margin-top: 5px; }
  header .logo-desktop { display: none !important; }
  header .navbar-brand { padding: 0 0 0 15px; }
  header .show-menu-mobile { display: inline-block !important; width: 100%; background-color: #fff; }
  header .show-menu-mobile .menu-mobile { display: block !important; }
  header .header .navbar-header .menu-mobile .navbar-nav { margin: 0; padding: 5px 0; background: #ff9700; box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3); }
  header .navbar-collapse { height: auto !important; }
  .box-tab-menu .border .row .col-xs-2 { width: 33.33%; }
  .banner .item .main-slide .content h2 { font-size: 40px; }
  .footer-v1 .footer .headline h2 { margin-bottom: 25px !important; margin-top: 30px; }
  .footer-v1 .md-margin-bottom-40 { margin-bottom: 0px; }
  .close-menu-list, .close-menu-menu { display: block; }
  .close-menu-menu { border: 1px solid #ddd; color: #ff9700 !important; display: none; }
  .main .container .row .col-md-7.middle-col { width: 100% !important; margin: 0; padding: 10px 20px !important; }
  .navbar-toggle { display: block; }
  .container-fluid { padding: 0; }
  .main .container .row { margin: 0; }
  .main .container .row .col-md-2, .main .container .row .col-md-7.middle-col, .main .container .row .col-md-3 { padding: 0; }
  .box-list .row .col-xs-3 { width: 33.33%; }
  .footer-v1 .footer { padding: 30px 0 0 0; }
  .footer-v1 .footer .col-md-4 { width: 50%; float: left; }
  .copyright .col-md-6, .copyright .social-icons { width: auto; float: none; text-align: center; }
  .copyright .col-md-6 p, .copyright .social-icons p { display: inline-block; margin: 0 15px !important; float: none; line-height: 24px; }
  .copyright .col-md-6 p:not(.txt-footer-1), .copyright .social-icons p:not(.txt-footer-1) { display: block; }
  .copyright .col-md-6 p a, .copyright .social-icons p a { padding: 0; }
  .copyright .col-md-6 ul li, .copyright .social-icons ul li { float: none; display: inline-block; }
  .social-icons-top { margin-top: 10px; }
  .main .container .row .col-md-2 { display: none; }
  .main .container .row .col-md-2.show-sidebar { display: block !important; }
  .main .container .row .col-md-2.show-sidebar .close-menu-list { right: 3px; background: #ff9700; display: none; }
  .sidebar { display: block !important; }
  .main-provided .col-md-4 { padding: 0; }
  .main-provided .col-md-4 .content-boxes-v5 { width: 50%; float: left; padding-left: 15px; padding-right: 15px; }
  .box-search { width: 225px; padding-left: 10px; }
  .vj-note { margin-top: 25px; }
  .vj-tabs { height: 42px; }
  .vj-tabs .nav-tabs { white-space: nowrap; overflow-y: hidden; overflow-x: auto; background: #fff; }
  .vj-tabs .nav-tabs::-webkit-scrollbar { width: 3px; height: 3px; }
  .vj-tabs .nav-tabs li { float: none; display: inline-block; }
  .vj-tabs.fixed .nav-tabs { top: 51px; }
  .vj__list ul.list { margin-bottom: 15px; } }
@media all and (max-width: 767px) { .ads_ads { padding: 10px 0 27px; }
  .ads_txt { display: block; margin: 27px 0 0; text-align: center; position: relative; border-top: 1px solid #e2e2e2; color: #a7a7a7; text-transform: uppercase; font-size: 10px; }
  .ads_txt span { background: #fff; display: inline-block; padding: 0 3px; position: relative; top: -8px; }
  header .header .navbar-header .container-fluid { margin: 0; padding: 0; height: 0; min-height: auto; }
  .banner .item .main-slide .content p { font-size: 14px; padding-left: 30px; padding-right: 30px; }
  .banner .item .main-slide .content h2 { font-size: 20px; text-align: center; }
  .box-tab-menu .border .row .col-xs-2, .box-tab-menu .border .row .col-xs-3, .box-tab-menu .border .row .col-xs-4 { width: 50%; }
  .box-list .row .col-xs-3 { width: 50%; }
  .close-menu-list { display: block; }
  .main .container .row .col-md-7.middle-col { padding-left: 0 !important; }
  .main .container .row .col-md-2 { z-index: 101; background-color: #eee; overflow-y: auto; }
  .main .container .row .col-md-2 li { padding-left: 15px !important; padding-right: 15px; }
  .menu-desktop-sub { display: none !important; }
  .menu-mobile-sub { display: block !important; }
  .box-list { display: none !important; }
  header .header .container-fluid, header .header .navbar-collapse { border: none; } }
.fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }

@media all and (max-width: 480px) { .banner .item .main-slide img { height: 200px; }
  .banner .item .main-slide .content .clearfix { display: inline-block; }
  .banner .item .main-slide .content .clearfix p { margin-right: 0 !important; }
  .banner .item .main-slide .content .youtube { margin-top: 0 !important; float: none !important; }
  .banner .item .main-slide .content p { text-align: center; float: none !important; margin-bottom: 10px; }
  .banner .item .main-slide .content img { height: auto; }
  header .top-header {           /*.box-app { display: inline-block !important; a { color: #333; padding: 2px 7px; margin-right: 4px; border: 1px solid #565656; display: inline-block; img { width: 20px; float: left; vertical-align: middle; margin-right: 7px; margin-top: 1px; } }
}*/ }
  header .top-header .box-share { display: none !important; }
  header body.fix-header .main .container .row .col-md-2.show-sidebar { top: 52px !important; }
  header .navbar-toggle { margin-right: 0px; }
  header .txt-footer-1 { display: none !important; }
  header .header .navbar-nav > li, header .navbar-nav, header header .header .navbar-nav > li a { padding-left: 15px; }
  .main .container .row .col-md-2.show-sidebar { width: 100% !important; }
  .banner-1 h2 { font-size: 26px; }
  .box-tab-menu .txt-title, .hide-tab .top .pull-right { margin: 15px 0 0 0; }
  .box-tab-menu { margin: 0; }
  .box-tab-menu .border .row .col-xs-2, .box-tab-menu .border .row .col-xs-3, .box-tab-menu .border .row .col-xs-4 { width: 100%; float: none; margin-bottom: 20px; }
  .box-customer .img { float: none; margin: 10px auto 0; }
  .box-customer .box-title .txt-title { font-size: 20px; }
  .box-customer .box-title .txt { margin-bottom: 10px; }
  .box-customer .col-md-4, .box-customer .col-xs-4 { width: 100%; float: none; margin-bottom: 10px; }
  .box-customer .content { padding-left: 0; }
  .box-customer .content .txt-1 { margin: 5px 0; }
  .box-provided { margin-top: 10px; }
  .box-provided .main-provided .col-md-4 .content-boxes-v5 { width: 100%; float: none; }
  .box-provided .main-provided p { margin-bottom: 30px; }
  .box-provided .row p { height: auto; }
  .mobile_ads_only { overflow: hidden; width: 100%; }
  .box-list .row .col-xs-3 { width: 100%; }
  .footer-v1 .footer .headline h2 { margin-top: 30px; margin-bottom: 15px; }
  .footer-v1 .footer .col-md-4 { width: 100%; }
  .footer-v1 .footer .copyright .col-md-6, .footer-v1 .footer .copyright .social-icons { width: 100%; float: none; }
  .footer-v1 .footer .row .col-xs-2 { width: 33.33%; }
  header .navbar-brand { margin-top: 25px; padding: 0; }
  .social-icons-top { overflow: hidden; clear: both; padding-left: 6px; }
  .composs-author-block .item-content .composs-button { display: block; }
  .composs-author-block .item-content .composs-button.composs-button-green { margin-bottom: 20px; }
  div.content p { margin: 0; padding: 0; }
  .main .container .row .col-md-7.middle-col { padding-left: 10px !important; padding-right: 10px !important; }
  body .container { padding: 0 5px !important; } }
@media (max-width: 320px) { .box-search { width: 220px; }
  .box-tab-menu .txt-title { font-size: 13px; } }
